.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: 50ms;
}

.fade-enter-active {
    transition-delay: 50ms;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}
