// Body
$body-bg: #f5f8fa;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$list-group-item-font-size: 1.1rem;
$list-group-item-height: 75px;
$list-header-font-size:1.5rem;
$list-header-padding: 5px 0px 5px 20px;

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
